<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa kommenttia</title>
</head>

<body>
  <h1>Muokkaa kommenttia</h1>
  <form action="/comment/{{ comment.id }}/edit" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <p>
      Kommentti:<br />
      <textarea name="content" rows="6" cols="60">{{ comment.content }}</textarea>
    </p>
    <input type="submit" value="Päivitä kommentti" />
  </form>
  <p><a href="/item/{{ comment.item_id }}">Takaisin ilmoitukseen</a></p>
</body>

</html>
